@use "../abstract/variaveis";
@use "../abstract/mixins";



.thanks_container {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: variaveis.$Dark-Blue;
    font-family: variaveis.$Font-Overpass;
    box-shadow: 5px 5px 20px black;
    border-radius: 30px;
    padding: 40px;
    .img_selected {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
       
       img {
        width: 40%;
       }

    }
    .text_thanks {
        text-align: center;
    }
    
}